{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 1100px;
          margin: auto;
          text-align: right;
          font-family: arial;
        }
        .row,.col,.table{
            border: 1px solid black;
            border-collapse: collapse; 
        }
        .btns{
            color: black;
            text-decoration: none;
        }
        .btns_prnt{
            width: 100%;
            text-align: end;
            background-color: rgba(240, 248, 255, 0);
            border: none;
            
        }
        .btns_prnt:hover{
            background-color:orange;
            
        }
        .row{
           
            max-width: 1000px;
            margin: auto;
            margin-left:100px;
            text-align: left;
            font-family: arial; 
            color: #fff;
        }
        .col{
            width:20px;
        }
    </style> 
    <div class="m-3">
    <div class="card">
        <h4 style="margin-right:190px;">{{st.name}}</h4>
        <h4 style="margin-right:190px;">Infinity</h4>
        <h4 style="margin-right:190px;">For April1,2022</h4>
        <br>
        
        {% comment %} <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: left; padding: 5px 0; width:100%;">List of companies</h5> {% endcomment %}
        <div class="row" style="width: 100%;text-align:left;background-color: rgba(240, 248, 255, 0);border:white;;border-width:1px; border: 1px solid black;
        border-collapse: collapse;">
            <div class="col-md-3">Particulars</div>
            <div class="col-md-3" style="text-align:center;border:white;e;border-width:1px; border: 1px solid black;
            border-collapse: collapse;" colspan="2">Inwards</div>
            <div class="col-md-3" style="text-align:center;border:white;; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"; colspan="2">Outwards</div>
            <div class="col-md-3" style="text-align:center;border:white;; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"; colspan="2">Closing Balance</div>
        </div>
        
        <div class="row" style="width: 100%;text-align:left;background-color: rgba(240, 248, 255, 0);">
            <div class="col-md-3"></div>
            <div class="col" style="border:white;border-width:1px; border: 1px solid black;
            border-collapse: collapse;" >quantity</div>
            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"  >value</div>
            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;" >quantity</div>
            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"  >value</div>
            <div class="col"style="border:white; border-width:1px;border: 1px solid black;
            border-collapse: collapse;"  >quantity</div>
            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;" >value</div>
        </div>
        <hr> 
        <div class="row" style="width: 100%;text-align:left;background-color: rgba(240, 248, 255, 0);">
            <div class="col-md-3" >Opening Balance</div>
            <div class="col" style="border:white;border-width:1px; border: 1px solid black;
            border-collapse: collapse;" ></div>
            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"  ></div>
            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;" ></div>
            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"  ></div>
            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;"  >{{opening_quantity}} BTL</div>
            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
            border-collapse: collapse;" >{{opening_value}}</div>
        </div> 
            
           
            
          
            
            <table class="table" >
            
            <a href="{%  url 'stockitem_vouchersApril' st.id %}">
                <button  class="btns_prnt" id="create">
                <div class="row">
                    <div class="col-md-3">April</div>
                    <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                    border-collapse: collapse;" >{{quantity}} BTL</div>
                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;"  >{{value}}</div>
                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;" >{{quantity3}} BTL</div>
                    <div class="col"style="border:white; border-width:1px;border: 1px solid black;
                    border-collapse: collapse;"  >{{value3}}</div>
                    <div class="col"style="border:white; border-width:1px;border: 1px solid black;
                    border-collapse: collapse;"  >{{quantity2}} BTL</div>
                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;" >{{closing_balance}}</div>
                </div>
                </button>
                </a>
                <a href="">
                    <button  class="btns_prnt" id="create">
                    <div class="row">
                        <div class="col-md-3">May</div>
                        <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                        border-collapse: collapse;" ></div>
                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                        border-collapse: collapse;"  ></div>
                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                        border-collapse: collapse;" ></div>
                        <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                        border-collapse: collapse;"  ></div>
                        <div class="col"style="border:white; border-width:1px;border: 1px solid black;
                        border-collapse: collapse;"  ></div>
                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                        border-collapse: collapse;" ></div>
                    </div>
                    </button>
                    </a>
                    <a href="">
                        <button  class="btns_prnt" id="create">
                        <div class="row">
                            <div class="col-md-3">June</div>
                            <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                            border-collapse: collapse;" ></div>
                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                            border-collapse: collapse;"  ></div>
                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                            border-collapse: collapse;" ></div>
                            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                            border-collapse: collapse;"  ></div>
                            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                            border-collapse: collapse;"  ></div>
                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                            border-collapse: collapse;" ></div>
                        </div>
                        </button>
                        </a>
                        <a href="">
                            <button  class="btns_prnt" id="create">
                            <div class="row">
                                <div class="col-md-3">July</div>
                                <div class="col" style="border:white;border-width:1px;border: 1px solid black;
                                border-collapse: collapse;" ></div>
                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                border-collapse: collapse;"  ></div>
                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                border-collapse: collapse;" ></div>
                                <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                border-collapse: collapse;"  ></div>
                                <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                border-collapse: collapse;"  ></div>
                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                border-collapse: collapse;" ></div>
                            </div>
                            </button>
                            </a>
                            <a href="">
                                <button  class="btns_prnt" id="create">
                                <div class="row">
                                    <div class="col-md-3">August</div>
                                    <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                                    border-collapse: collapse;" ></div>
                                    <div class="col" style="border:white; border-width:1px;border: 1px solid black;
                                    border-collapse: collapse;"  ></div>
                                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                    border-collapse: collapse;" ></div>
                                    <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                    border-collapse: collapse;"  ></div>
                                    <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                    border-collapse: collapse;"  ></div>
                                    <div class="col" style="border:white; border-width:1px;border: 1px solid black;
                                    border-collapse: collapse;" ></div>
                                </div>
                                </button>
                                </a>
                                <a href="">
                                    <button  class="btns_prnt" id="create">
                                    <div class="row">
                                        <div class="col-md-3">September</div>
                                        <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                                        border-collapse: collapse;" ></div>
                                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                        border-collapse: collapse;"  ></div>
                                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                        border-collapse: collapse;" ></div>
                                        <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                        border-collapse: collapse;"  ></div>
                                        <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                        border-collapse: collapse;"  ></div>
                                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                        border-collapse: collapse;" ></div>
                                    </div>
                                    </button>
                                    </a>
                                    <a href="">
                                        <button  class="btns_prnt" id="create">
                                        <div class="row">
                                            <div class="col-md-3">October</div>
                                            <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                                            border-collapse: collapse;" ></div>
                                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                            border-collapse: collapse;"  ></div>
                                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                            border-collapse: collapse;" ></div>
                                            <div class="col"style="border:white; border-width:1px;border: 1px solid black;
                                            border-collapse: collapse;"  ></div>
                                            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                            border-collapse: collapse;"  ></div>
                                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                            border-collapse: collapse;" ></div>
                                        </div>
                                        </button>
                                        </a>
                                        <a href="">
                                            <button  class="btns_prnt" id="create">
                                            <div class="row">
                                                <div class="col-md-3">November</div>
                                                <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                                                border-collapse: collapse;" ></div>
                                                <div class="col" style="border:white; border-width:1px;border: 1px solid black;
                                                border-collapse: collapse;"  ></div>
                                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                border-collapse: collapse;" ></div>
                                                <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                border-collapse: collapse;"  ></div>
                                                <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                border-collapse: collapse;"  ></div>
                                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                border-collapse: collapse;" ></div>
                                            </div>
                                            </button>
                                            </a>
                                            <a href="">
                                                <button  class="btns_prnt" id="create">
                                                <div class="row">
                                                    <div class="col-md-3">December</div>
                                                    <div class="col" style="border:white;border-width:1px;border: 1px solid black;
                                                    border-collapse: collapse;" ></div>
                                                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                    border-collapse: collapse;"  ></div>
                                                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                    border-collapse: collapse;" ></div>
                                                    <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                    border-collapse: collapse;"  ></div>
                                                    <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                    border-collapse: collapse;"  ></div>
                                                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                    border-collapse: collapse;" ></div>
                                                </div>
                                                </button>
                                                </a>
                                                <a href="">
                                                    <button  class="btns_prnt" id="create">
                                                    <div class="row">
                                                        <div class="col-md-3">January</div>
                                                        <div class="col" style="border:white;border-width:1px;border: 1px solid black;
                                                        border-collapse: collapse;" ></div>
                                                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                        border-collapse: collapse;"  ></div>
                                                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                        border-collapse: collapse;" ></div>
                                                        <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                        border-collapse: collapse;"  ></div>
                                                        <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                        border-collapse: collapse;"  ></div>
                                                        <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                        border-collapse: collapse;" ></div>
                                                    </div>
                                                    </button>
                                                    </a>
                                                    <a href="">
                                                        <button  class="btns_prnt" id="create">
                                                        <div class="row">
                                                            <div class="col-md-3">February</div>
                                                            <div class="col" style="border:white; border: 1px solid black;
                                                            border-collapse: collapse;" ></div>
                                                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                            border-collapse: collapse;"  ></div>
                                                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                            border-collapse: collapse;" ></div>
                                                            <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                            border-collapse: collapse;"  ></div>
                                                            <div class="col"style="border:white; border-width:1px;border: 1px solid black;
                                                            border-collapse: collapse;"  ></div>
                                                            <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                            border-collapse: collapse;" ></div>
                                                        </div>
                                                        </button>
                                                        </a>
                                                        <a href="">
                                                            <button  class="btns_prnt" id="create">
                                                            <div class="row">
                                                                <div class="col-md-3">March</div>
                                                                <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                                                                border-collapse: collapse;" ></div>
                                                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                                border-collapse: collapse;"  ></div>
                                                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                                border-collapse: collapse;" ></div>
                                                                <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                                border-collapse: collapse;"  ></div>
                                                                <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                                                                border-collapse: collapse;"  ></div>
                                                                <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                                                                border-collapse: collapse;" ></div>
                                                            </div>
                                                            </button>
                                                            </a>
                                                        
                                
            <hr>
            <a >
                
                <div class="row">
                    <div class="col-md-3">Grand Total </div>
                    <div class="col" style="border:white;border-width:1px; border: 1px solid black;
                    border-collapse: collapse;" >{{quantity}} BTL</div>
                    <div class="col" style="border:white; border-width:1px;border: 1px solid black;
                    border-collapse: collapse;"  >{{value}}</div>
                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;" >{{quantity3}} BTL</div>
                    <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;"  >{{value3}}</div>
                    <div class="col"style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;"  >{{quantity2}} BTL</div>
                    <div class="col" style="border:white; border-width:1px; border: 1px solid black;
                    border-collapse: collapse;" >{{closing_balance}}</div>
                </div>
                
                </a>
              
                    
        </div>   
        
        
        
        
       
        
        
    
        <br>
        
    </div>   
{% endblock %}